.followCard{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-size: .8rem;
}

.followCard-header {
	display: flex;
	align-items: center;
	gap: 4px;
}

.followCard-info {
	display: flex;
	flex-direction: column;
}

.followCard-infoUserName{
	opacity: .6;
}
.followCard-avatar {
	width: 48px;
	height: 48px;
	border-radius: 1000px;
}

.followCard-button {
	cursor: pointer;
	margin-left: 16px;
	border: 0;
	border-radius: 999px;
	padding: 6px 16px;
	font-weight: bold;
	border: 1px solid #000;
	transition: .3 ease background-color;
}

.followCard-button.isFollowing {
	border: 1px solid #bbb;
	background: transparent;
	color: #fff;
	width: 140px;
}

.followCard-button:hover {
	background-color: #09f;
	opacity: .8;
}

.followCard-text {
	display: block;
}

.followCard-button.isFollowing:hover {
	background: rgba(255, 0, 0, 0.178);
	color: red;
	border: 1px solid red;
	transition: .3 ease all;
	opacity: 1;
}

.followCard-button.isFollowing:hover .followCard-text {
	display: none;
}

.followCard-button.isFollowing:hover .followCard-stopFollow {
	display: block;
}

.followCard-stopFollow{
	display: none;
}